{% extends 'investimentos/base.html' %}
{% block conteudo %}
<h1 style='text-align: center;'>Detalhe do Investimento</h1>
<div class="container">
    <table class='table table-hover table-bordered'>
        <tr>
            <th>Id</th>
            <th>Investimento</th>
            <th>Valor</th>
            <th>Data</th>
            <th>Pago</th>
        </tr>
        <tr>
            <td>{{dados.id}}</td>
            <td>{{dados.investimento}}</td>
            <td>{{dados.valor}}</td>
            <td>{{dados.data}}</td>
            <td>{{dados.pago}}</td>
        </tr>
    </table>
</div>
{% endblock %}